* {
    font-family: 'Poppins', sans-serif;
}

body {
    /*padding: 10px; If I want padding around whole page */
}

#feast_logo {
    height: 8rem;
    width: 18rem;
    display: flex;
    margin-left: -1rem;
    margin-top: 3rem;
    padding-bottom: 5rem;
}

nav {
    background-image: linear-gradient(to bottom, #0505059d, #f0a00b28) ,url(img/foodback.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

nav h1 {
    margin-top: -4rem;
    background-color: oran;
}

.buttonInput {
    margin-top: 2rem;
    text-align: center;
}

.buttonInput .btn {
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all .2s ease-in;
    background-color: rgb(255, 185, 55);
    color: white;
    margin-top: 1rem;

}

.buttonInput .btn:hover {
    background-color: rgb(201, 131, 1);
}
#textInput {
    font-size: 1.2rem;
    border-radius: 5px;
}

#textInput:focus {
    outline: orange auto 5px;
}

.buttonInput .btn:focus {
    outline: rgb(201, 131, 1) auto 5px;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;
}


.card1 {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    z-index: 100;
    background-color: rgb(219, 158, 44);
    transition: transform 0.4s;
    background: url(img/mexican3.jpg);

}
.card1 h1 {
    color: white;
    display: flex;
    margin-top: -.1rem;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.card1 h1:hover {
    opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}
.card1:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(0, 0, 0, 0.2);
    filter: brightness(100%);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/mexican3.jpg');

}


.card2 {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    z-index: 100;
    background: url(img/honduran.jpg);
    background-color: rgb(219, 158, 44);
    transition: transform 0.4s;
}
.card2 h1 {
    color: white;
    display: flex;
    margin-top: -.1rem;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.card2 h1:hover {
    opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}

.card2:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(0, 0, 0, 0.2);
    filter: brightness(100%);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/honduran.jpg');

}


.card3 {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    z-index: 100;
    background: url(img/indian3.jpg);
    background-color: rgb(219, 158, 44);
    transition: transform 0.4s;
}
.card3 h1 {
    color: white;
    display: flex;
    margin-top: -.1rem;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
    opacity: 0;
    width: 100%;
    height: 100%;

}

.card3 h1:hover {
    opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;

}
.card3:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(0, 0, 0, 0.2);
    filter: brightness(100%);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/indian3.jpg');

}


.card4 {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    z-index: 100;
    background: url(img/chinese.jpg);
    background-color: rgb(219, 158, 44);
    transition: transform 0.4s;
}
.card4 h1 {
    color: white;
    display: flex;
    margin-top: -.1rem;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.card4 h1:hover {
    opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}

.card4:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(0, 0, 0, 0.2);
    filter: brightness(100%);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/chinese.jpg');

}


.bgimage { 
    justify-content: center;
    margin-top: 5rem;
    filter: brightness(50%);
}

.bgimage h1 {

}

footer {
    justify-content: center;
    text-align: center;
    padding: 1px;
    font-size: 1rem;
    margin-top: 2rem;
    background-color: #1f1f1f;
    background: url(img/foodback.jpg);
    background-size: cover;
    color: #fff;
}


.overImage {
    position: relative;
    text-align: center;
    color: white;
}

.insideText {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
  }

  .insideUnderText {
    position: absolute;
    top: 20%;
    left: 18%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
  }

  .brandsInside1 {
    display: flex;
    position: absolute;
    top: 30%;
    left: 18%;
    gap: 2rem;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
  }

  .brandsInside2 {
    display: flex;
    position: absolute;
    top: 45%;
    left: 18%;
    gap: 2rem;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
  }

  .descrCard {
    display: flex;
    justify-content: start;
    margin-top: 4rem;
    gap: 5rem;
  }

  .card5 {
    margin-left: 6.8rem;
    height: 350px;
    width: 600px;
    border-radius: 10px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 100;
    background-color: rgb(219, 158, 44);
    background: url(img/mexican.jpg);
    
  }

  .textNext {
      color: black;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

  .btnDownload {
      display: flex;
      justify-content: center;
      border-radius: 10px;
      cursor: pointer;
      align-items: center;
      margin:0 auto;
      background: linear-gradient(rgb(247, 21, 5), rgb(247, 118, 5));
      color: white;
      font-size: 1.3rem;
      border: none;
  }

  .btnDownload:hover {
      background: linear-gradient(rgb(97, 6, 0), rgb(175, 83, 2));
  }